#contact-form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 14px;
  border-radius: 5px;
  line-height: 20px;
  background-color: transparent;
  border:1px solid #e6e6e6;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #5D93FF; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#222228;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:18px;
  padding-top:7px;
  padding-bottom:7px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#5D93FF; }